<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.quantity }}</td>
    <td>
      <button (click)="editProduct(product)">Edit</button>
      <button class="delete" (click)="deleteProduct(product)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<b></b>

<div>
  <product-description
    *ngFor="let product of products"
    [name]="product.name"
    [description]="product.description"
    [price]="product.price"
    [quantity]="product.quantity"
  ></product-description>
</div>
