<div>
    <div>
        Name:
        <input [(ngModel)] = "product.name" placeholder="Name">
    </div>

    <div>
        Description:
        <input [(ngModel)] = "product.description" placeholder="Description">
    </div>

    <div>
        Is Negotiable:
        <input [(ngModel)] = "product.isNegotiable" placeholder="Is Negotiable">
    </div>

    <div>
        Price:
        <input [(ngModel)] = "product.price" placeholder="Price">
    </div>

    <button (click)="add(product)">Add</button>
</div>

