<form [formGroup] = "loginForm" (submit)="login()">

    <div class="container">

      <label formControl.username = "username" for="username"><b>Username</b></label>
      <input id="username" type="text" placeholder="Enter Username" name="username" required>
  
      <label for="password"><b>Password</b></label>
      <input formControl.password = "password" id="password" type="password" placeholder="Enter Password" name="password" required>
  
      <button routerLink="/myproducts">Log In</button>

    </div>
  </form>