.layout
{

  display: flex;
}
aside
{
  box-shadow: 5px 5px 5px 5px lightgray;
  margin: 30px 20px 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
section
{
  padding: 30px;
  margin-right: 20px;
  display: flex;
}

aside.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
