.add-button{
  margin-top: 20px;
  margin-left: 20px;
}

.add-product-text{
  margin-left: 20px;
}

.rotate {
  animation: rotate 0.5s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(100deg);
  }
}
.example-card {
  max-width: 400px;
}

