<!--<app-add-product></app-add-product>-->
<div>
<button class="add-button" mat-raised-button color="primary" (click)="onAddProduct()">
  Add
</button>
  <span class="add-product-text">Add New Product</span>
</div>

<div>
  <h2>Acestea sunt produsele tale:</h2>
  <div *ngFor="let product of products">
    <product-description
      [name]="product.name"
      [description]="product.description"
      [price]="product.price"
      [quantity]="product.quantity"
    ></product-description>

    <button mat-raised-button color="accent" (click)="deleteProduct(product)">Delete</button>

  </div>
</div>



