<ul class = "nav">
    <li><a routerLink="home">Home</a></li>

    <div *ngIf="this.userService.getRole('Seller')">
      <li><a routerLink="myproducts">My Products</a></li>
    </div>

    <div *ngIf="this.userService.getRole('Admin')">
      <li><a routerLink="admin/page">Admin</a></li>
    </div>

  <div *ngIf="user == undefined">
        <li class = "login"><a routerLink="login">Log In</a></li>
        <li class = "signup"><a routerLink="signup">Sign Up</a></li>
    </div>

    <div *ngIf="user != undefined">
        <li class = "logout"><a (click)="userService.logout()" routerLink="products">Log Out</a></li>
        <li class = "cart"><a routerLink="cart">Cart</a></li>
        <li class = "name"><a routerLink="user-page">My Account</a></li>
    </div>

</ul>



<router-outlet></router-outlet>