.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin-left: 50px;
  font-size: 24px;
  font-weight: bold;
}

.photo {
  width: 200px;
  flex-shrink: 0;
  margin-right: 150px;
  margin-left: 50px;
}

.photo img {
  width: 100%;
  height: auto;
}

.product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.info-right {
  max-width: 400px;
}

.product-buttons-container {
  flex-grow: 1;
}

.product-buttons {

  display: flex;
  flex-direction: column;
  max-width: 100px;
  max-height: 100px;
}

.edit-button {
  color: gray;
  margin-top: 10px;
}
