<div class="product">
  <div class="product-details">
    <p class="header">{{ product?.name }}</p>
    <div class="photo">
      <img src="assets/empty.jpg" style="width: 300px">
    </div>
  </div>

  <div class="product-info">

    <div class="info-right">
      <p>{{ product?.description }}</p>
      <p>Quantity: {{ product?.quantity }}</p>
      <p>{{ product?.price }} RON</p>
      <p>Seller: {{ product?.seller?.name }}</p>
    </div>

    <div *ngIf="this.sellerid == this.userid" class="product-buttons-container">
      <div class="product-buttons">
        <button class="edit-main" mat-raised-button color="accent" (click)="EditProduct()">Edit Product</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.userService.getCurrentUser() != undefined && this.userid != this.sellerid">
    <button (click)="onSubmit()" mat-button color="primary">Add to cart</button>
</div>
<div *ngIf="this.userService.getCurrentUser() == undefined">
  <button routerLink="login" mat-button color="primary" (click)="RedirectToLogin()" >Add to cart</button>
</div>

