<div class="product">
  <div class="product-details">
    <p class="header">{{ product?.name }}</p>
    <div class="photo">
      <img src="assets/empty.jpg" style="width: 300px; height: 300px;">
    </div>
  </div>

  <div class="product-info">

    <div class="info-right">
      <p>{{ product?.description }}</p>
      <p>Quantity: {{ product?.quantity }}</p>
      <p>{{ product?.price }} RON</p>
      <p>Seller: {{ product?.seller?.name }}</p>
    </div>

    <div class="product-buttons-container">
      <div class="product-buttons">
        <button>Add to Cart</button>
        <button class="edit-main" (click)="onSubmit()">Edit Product</button>


      </div>
    </div>
  </div>
</div>

<div>
    <button (click)="onSubmit()">Add to cart</button>
</div>

