<div class="signup-container">
  <h1>Signup</h1>

  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <div>
      <label for="email">Email:</label>
      <input pInputText type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>

    <div>
      <label for="username">Name:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>

    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
    </div>

    <div>
      <label for="sellerRequest">Request for seller role:   </label>
      <input type="checkbox" id="sellerRequest" name="sellerRequest" [(ngModel)]="sellerRequest">
    </div>

    <button mat-button type="submit" [disabled]="!signupForm.form.valid">Signup</button>
  </form>

  <div class="alert" *ngIf="passwordMessage != ''">
    {{passwordMessage}}
  </div>

  <div class="alert" *ngIf="backEndMessage != ''">
    {{backEndMessage}}
  </div>

</div>
